{% extends 'base_nav.html' %}
{% block content %}
<div id="post-add">
    <h1>post add</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_images">이미지</label>
            <input type="file" id="id_images" name="images" multiple>
        </div>
        {{form.as_p}}
        <div>
            <label for="id_tags">해시태그</label>
            <input name="tags" type="text" id="id_tags" placeholder="구분은 (,)쉼표로 하기">
        </div>
        <button type="submit">게시</button>
    </form>
</div>
{% endblock content %}