{% extends '_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'splide/splide.css' %}">
    <script src="{% static 'splide/splide.js' %}"></script>
{% endblock head %}

{% block base_content %}
    {% include "nav.html" %}
    {% block content %}
    {% endblock content %}
    <script>
        const elms = document.getElementsByClassName('splide');
        for (let i = 0; i < elms.lenth; i++){
            new Splide(elms[i]).mount();
        }
    </script>
{% endblock base_content %}